.single {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 50px;

    &::-webkit-scrollbar {
        display: none;
    }


    &__hero {
        height: 510px;
        width: 100%;
        background: #4ee6082f;
        padding: 30px 0;
    }

    &__credits {
        padding: 30px 0;

        .credits {
            &__list {
                display: flex;
                column-gap: 20px;
                overflow-x: scroll;

                &::-webkit-scrollbar {
                    -webkit-box-shadow: inset 0 0 6px rgba(252, 19, 19, 0.3);
                    border-radius: 10px;
                    background-color: #F5F5F5;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: aqua;
                    border-radius: 10px;
                }
            }

            &__title {
                font-size: 22px;
                margin-bottom: 20px;
            }
        }
    }

    &__similer {
        .similer {
            &__list {
                display: flex;
                column-gap: 20px;
                overflow-x: scroll;

                &::-webkit-scrollbar {
                    -webkit-box-shadow: inset 0 0 6px rgba(252, 19, 19, 0.3);
                    border-radius: 10px;
                    background-color: #F5F5F5;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: aqua;
                    border-radius: 10px;
                }
            }

            &__title {
                font-size: 22px;
                margin-bottom: 20px;
            }
        }
    }
}